body {
    background: #58b7e4;
    
}

.button {
    background-color: #dadada;
    font-family: sans-serif;
    box-shadow: 0px 5px 0px 0px #c1c0c0;
    color: rgb(162, 162, 162);
    text-shadow: inset 0 -5px black;
    font-weight: bold;
    font-size: 13pt;
    border-radius: 6px;
}

.btn.cancel {
    background: #ec8153;
    color: rgba(0,0,0,0.3);
    box-shadow: 0px 5px 0px 0px #a55939;
}

.btn.confirm {
    background: #85c76d;
    color: rgba(0,0,0,0.3);
    box-shadow: 0px 5px 0px 0px #5c8b4c;
}


#title .menu {
    position: absolute;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
}


#lobby .rooms {
    background: #dadada;
    border-radius: 6px;
    padding: 20px;
    margin: 20px;
    height: 300px;
    box-shadow: 0px 12px #c1c0c0;
}

#lobby .room {
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 4px 0px;
    border-radius: 4px;

    box-shadow: 0px 4px #aeaeae;
    background: #f1eded;
}

#lobby .room.active {
    box-shadow: 0px 4px #aeaeae;
    background: #f1eded;
    
}

#lobby .room.selected {
    box-sizing: border-box;
    background: #c1c0c0;
    box-shadow: inset 0px 4px #838383;
}

#lobby .room.full {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px #aeaeae;
}

#lobby .controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
}

#lobby .controls div {
    margin-bottom: 0;
}


#game .board {
    position: absolute;
    left: 50%;
    top: 50%;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%,-50%) scale(1.5);
    background: #85c76d;
    padding: 10px;
    padding-bottom: 5px;
    border: 2px solid #a5e08f;
    border-right-color: #9c855d;
    border-bottom: 5px solid #9c855d;
    box-sizing: border-box;
}

#game .controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

#game .hud .player {
    font-size: 80px;
    border: 2px solid #aeaeae;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 20px;
    transform: scale(0.8);
}

#game .hud .player.active {
    opacity: 1;
    transform: scale(0.8);
}
#game .hud .player {
    opacity: 0.3;
    transform: scale(0.6);
}

#game .controls .btn.threed {
    margin: 5px;
}

.btn.threed .face.front,
.btn.threed .face.back {
    background: url(../img/btn_bg.png);
    background-size: cover;
    border: 5px solid #676666;
    border-right: 3px solid #676666;
    border-top: 2px solid grey;
    border-left: 2px solid grey;

}

.btn.threed .face.top, 
.btn.threed .face.bottom,
.btn.threed .face.left,
.btn.threed .face.right {
    background: grey;
}

.btn.threed .face .icon {
    width: 70%;
    height: 70%;
    margin: 10% auto;
    user-select: none;
}

[data-phase="0"] #game_cancel.btn.threed .box,
[data-phase="1"] #game_cancel.btn.threed .box {
    transform: rotateX(0deg);
}

[data-phase="2"] #game_cancel.btn.threed .box {
    /*transform: rotateX(-180deg);*/
}

[data-phase="2"] #game_cancel.btn.threed .box.flip {
    transform: rotateX(0deg) rotateY(180deg);
}

[data-phase="1"] #game_cancel.btn.threed .box.flip {
    transform: rotateY(180deg);
}

.box.flip .face.back {
    /*border-top: 5px solid #676666;
    border-left: 3px solid #676666;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;*/
}




#game_select .face.front .icon {
    background: url(../img/icon_select.png);
    background-size: cover;
}
[data-phase="1"] #game_cancel .face.front .icon {
    background: url(../img/icon_swap_1.png);
    background-size: cover;
}
[data-phase="1"] #game_cancel .face.back .icon {
    background: url(../img/icon_swap_2.png);
    background-size: cover;
}

[data-phase="2"] #game_cancel .face.front .icon,
[data-phase="2"] #game_cancel .face.back .icon {
    background: url(../img/icon_cancel.png);
    background-size: cover;
}


[data-phase="0"] #game_action.btn .face.front .icon {
    background: url(../img/icon_confirm.png);
    background-size: cover;
}
[data-phase="0"] #game_action.btn.threed .box {
    transform: rotateX(0deg);
}

[data-phase="1"] #game_action.btn .face.back .icon {
    background: url(../img/icon_move.png);
    background-size: cover;
}
[data-phase="1"] #game_action.btn.threed .box {
    transform: rotateX(180deg);
}

[data-phase="2"] #game_action.btn .face.front .icon {
    background: url(../img/icon_build.png);
    background-size: cover !important;
}

[data-target="0"] #controls[data-phase="2"] #game_action.btn .face.front .icon {
    background: url(../img/icon_build_1.png);
}
[data-target="1"] #controls[data-phase="2"] #game_action.btn .face.front .icon {
    background: url(../img/icon_build_2.png);
}
[data-target="2"] #controls[data-phase="2"] #game_action.btn .face.front .icon {
    background: url(../img/icon_build_3.png);
}
[data-target="3"] #controls[data-phase="2"] #game_action.btn .face.front .icon {
    background: url(../img/icon_build_4.png);
}


[data-phase="2"] #game_action.btn.threed .box {
    transform: rotateX(0deg);
}

/*

#game .controls .btn {
    width: 20%;
    margin: 5px;
    user-select: none;
}
#game .controls .btn.inactive {
    background: #a2a2a2;
    box-shadow: inset 0px 2px 0px 1px #919191;
    color: rgba(0,0,0,0.1);
}
*/
#game_select .box {
    transition: 0.1s transform ease-out;
}
#game_select:active .box {
    transition: none;
    transform: scale(0.9);
}

.grid {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: inline-block;
    height: auto;
}

.grid .row {
    display: block;
}

.grid .cell {
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.1);
    float: left;
    margin: 2px;
    display: inline-block;
}

.grid .cell.active {
    border: 2px solid red;
    box-sizing: border-box;
}
.grid .cell.range {
    background: rgba(255,0,0,0.5);
}
.grid .cell.build {
    background: rgba(0,0,255,0.5);
}

.grid .meeple {
    width: 30px;
    height: 30px;
    margin: 5px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
    text-align: center;
    /* padding-top: 5px; */
    font-size: 24px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid #25532a;
    border-color: transparent;
    z-index: 100;
}
.grid .meeple.active {
    border-color: red;
}

.grid .meeple.p1::after {
    content: "🐸";
}
.grid .meeple.p2::after {
    content: "🐶";
}

.tower {
    background: white;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: relative;
    border: 1px solid #c1c0c0;
    box-sizing: border-box;
}
.tower.lv1 {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}
.tower.lv2 {
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
}
.tower.lv3 {
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
}
.tower.cap {
    width: 90%;
    height: 90%;
    background: blue;
    border-radius: 50px;
    border-color: skyblue;
    top: 5%;
    left: 5%;
}

#phase { 
    position: absolute;
    top: 124px;
    transform: translateX(-50%);
    /* left: 50%; */
    border: 2px solid #9c845d;
    padding: 10px;
    width: 100%;
    /* margin: 20px; */
    box-sizing: border-box;
    text-align: center;
    width: 90%;
    background: #ecc580;
    border-bottom-width: 4px;
    border-top-color: rgba(255,255,255,0.5);
    left: 50%;
    /* margin-left: 0; */
    border-left-color: rgba(255,255,255,0.5);
}

#phase .pointer {
    height: 20px;
    width: 20px;
    position: absolute;
    background: #edc67f;
    padding: 0;
    margin: 0;
    left: 8%;
    top:-13px;
    transform: rotateZ(-45deg);
    border-top: 2px solid #f6e3c0;
    border-right: 2px solid #9b835d;
    transition: left 0.2s;
}
#phase p {
    padding: 0; margin: 0;
}
#phase.p1 .pointer {
    left: 8%;
}

#phase.p2 .pointer {
    left: 87%;
}

#pos p {
    margin: 0; padding: 0;
}